.banner-image {
    height: 400px;
    width: 400px;
}
.players-container {
    padding: 25px;
    text-align: center;
}
.main-button {
    background-color: yellow;
    border: none;
    height: 30px;
    width: 130px;
    font-family: 'Times New Roman', Times, serif;
}